@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fdf8ee;
  color: #241010;
}

@media print {
  header,
  footer {
    display: none !important;
  }
  body {
    background: #fff;
  }
}
